* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple-bgn: hsl(273, 85%, 13%);
  --bright-green-btn: hsl(150, 100%, 63%);
  --greyish-blue: hsl(271, 12%, 34%);
  --light-pink-bgn: hsl(274, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: 'Fraunces 144pt';
  src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: Manrope;
  src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

html {
  font-family: Manrope, sans-serif;
  font-size: 16px; /* font-size for mobile devices */
  text-align: center;
}


h1, h2, h3 {
  font-family: 'Fraunces 144pt', serif;
  font-weight: 600;
}

header, main, footer {
  min-width: 375px;
  margin: 0 auto;
}

header {
  background-color: var(--dark-purple-bgn);
  color: var(--white);
  position: relative;
}

.header-top, .header-content, .card {
  padding: 0 1rem;
}
.header-top {
  padding: 2rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top svg {
  width: 5.33rem;
  height: 1.39rem;
}

.header-top p  {
  border-bottom: 0.19rem solid var(--bright-green-btn);
  padding-bottom: 0.125rem;
  color: var(--white);
}

.header-top p:hover {
  color: var(--bright-green-btn);
}

.header-content {
  margin-top: 4rem;
}

.header-content h1 {
  font-size: 2.5rem;
  line-height: 3.65rem;
  width: 21.44rem;
  margin: 0 auto;
}

.left-spiral, .right-spiral {
  display: none;
}

.header-content span {
  border-bottom: 0.19rem solid var(--bright-green-btn);
}

.header-content .btn, .founder-msg .btn {
  margin-top: 2.5rem;
  background-color: var(--bright-green-btn);
  color: var(--dark-purple-bgn);
  font-weight: 700;
  line-height: 2rem;
  padding: 0.72rem 1.45rem;
  display: inline-block;
  border: 1px solid transparent;
}

.header-content .btn:hover, .founder-msg .btn:hover {
  background-color: var(--dark-purple-bgn);
  border: 1px solid var(--bright-green-btn);
  color: var(--bright-green-btn);
}

/* Header's bottom curved edge */

.curved-bottom-side {
  position: relative;
  overflow: hidden;
  height: 6rem;
  top: 4rem;
}

.curved-bottom-side::before {
  border-radius: 100%;
  position: absolute;
  background-color: var(--dark-purple-bgn);
  right: -12.5rem;
  left: -12.5rem;
  top: -10rem;
  content: '';
  bottom: 2rem;
}


main {
  background-color: var(--light-pink-bgn);
}

.hero-image { 
  position: relative;
  width: 20rem;
  height: auto;
  top: -3rem;
}

.card {
  background-color: var(--light-pink-bgn);
  padding-top: 2.5rem;
}

.card span {
  font-size: 1.25rem;
  font-family: 'Fraunces 144pt', serif;
  font-weight: 600;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  border: 1px solid var(--greyish-blue);
  border-radius: 50%;
}

.card h3 {
  margin-top: 1.5rem;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--dark-purple-bgn);
  line-height: 1.425;
}

.card p {
  margin-top: 1rem;
  color: var(--greyish-blue);
  line-height: 1.78rem;
}


.curved-bottom-side-pink {
  position: relative;
  overflow: hidden;
  height: 6rem;
  top: 4rem;
}

.curved-bottom-side-pink::before  {
  border-radius: 100%;
  position: absolute;
  background-color: var(--light-pink-bgn);
  right: -12.5rem;
  left: -12.5rem;
  top: -10rem;
  content: '';
  bottom: 2rem;
}

.founder {
  padding-bottom: 0;
}

.founder img {
  position: relative;
  margin-top: 5rem;
  width: 17.5625rem;
  top: 3.5rem;
}

.founder-msg {
  position: relative;
  margin: 0 1rem;
  background-color: var(--dark-purple-bgn);
  color: var(--white);
  padding: 2rem;
}

.founder-msg h2 {
  font-size: 2rem;
  line-height: 2.286rem;
}

.founder-msg p {
  margin-top: 1rem;
  line-height: 1.75rem;
}

.founder-msg .btn {
  margin-top: 1.5rem;
}

.founder svg {
  display: none;
}

footer .logo {
  margin: 4.625rem 0 3.625rem;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 7.25rem;
  margin: 0 auto 4rem;
}

/* Tablet styles */

@media  screen and (min-width: 768px) {
  header {
  }

  .header-top {
    padding: 2rem 2.5rem 0 2.5rem;
  }

  .header-content h1 {
    font-size: 3.75rem;
    width: 28rem;
    line-height: 4.25rem;
  }

  .left-spiral, .right-spiral {
    display: block;
    position: absolute;
  }

  .left-spiral {
    left: -14rem;
    top: 5rem;
  }

  .right-spiral {
    right: 0;
    top: 0;
    
  }

    img.hero-image {
    width: 32.125rem;
  }

  .cards {
    width: 35.8125rem;
    margin: 0 auto;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 3rem 6.125rem 0;
    text-align: left;
  }

  .card span {
    text-align: center;
    aspect-ratio: 1/1;
    margin: 0 auto;

  }

  .card-cont {
    margin-left: 2rem;
  }

  .card h3, .card p {
    width: 30.8125rem;
  }

  .card h3 {
    margin-top: 0;
  }

  .card p {
    margin-top: 1rem;
  }

  .founder {
    width: 43rem;
    margin: 0 auto;
  }
  .founder img {
    display: block;
    left: 0;
  }

  .founder p {
    margin: 1.5rem; 
    text-align: left;
  }

  .founder-msg {
    margin: 0;
    width: 32.125rem;
    position: relative;
    left: 11rem;
    bottom: 5rem;
    padding: ;

  }

  .founder-msg .btn {
    display: block;
    width: 10.75rem;
    padding: 0.7rem 0;
    margin-left: 1.5rem;
  }

  .founder svg {
    display: block;
    position: absolute;
    width: 10.8125rem;
    height: auto;
    bottom: -5rem;
    right: 1rem;
  }

  footer .logo {
    margin: 0;
  }

  footer .social-media {
    margin-top: 3.625rem;
  }


  
} 